/* base.css */
body{
    font-family: var(--fonte-principal);
    color: #333333;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    /*background-color: #000000;*/
}

main{
    flex: 1;
}