/* base.css */
body{
    font-family: var(--fonte-principal);
    color: #333333;
    /*min-height: 110vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;*/
}

main{
    flex: 1;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    width: 10.05rem;
    height: 3rem;
    border-radius: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    padding: 0.75rem 1.25rem;
    transition: backgound-color 0.6s, border-color 0.6s;
}

.btn-outline{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0.125rem solid #ffffff;
    /*line-height: 1.5rem;*/
}

.btn-filled{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #6329A2;
    font-weight: 500;
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}