/* footer.css */

.footer {
  border-radius: 4px;
	z-index: auto; /*eixo de profundidade*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a5956;
  color: #fff;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 8px;
  padding: 4px;
}
