/* header.css */
.header {
	position: fixed;
	top: 16px;
	left: 50%;
	transform: translate(-50%);
	width: calc(100% - 40px);
	border-radius: 16px;
	z-index: 999; /*eixo de profundidade*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 8px;
	/*background-color: #ffffff;*/
	background-color: lightskyblue;
}

.logo img {
	height: 40px;
}

.nav-center ul {
	display: flex;
	gap: 2.5rem;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}
.nav-right ul {
	list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}