/* header.css */
.header {
	position: fixed;
	top: 1rem;
	left: 50%;
	transform: translate(-50%);
	width: 78.75rem;
	border-radius: 0.75rem;
	z-index: 999; /*eixo de profundidade*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 1rem;
	background-color: #ffffff;
	/*background-color: lightskyblue;*/
}

.logo img {
	height: 3rem;
	width: 9.5rem;
}

.nav-center ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex: 1;
	margin-left: 2rem;
	gap: 1.5rem;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
	color:#333333;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}
.nav-right ul {
	list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-right img{
    height: 1.5rem;
}
/*
.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex: 1;
	margin-left: 10rem;
}
*/
.nav-right a:hover img{
    opacity: 0.7;
}