/* hero.css */
.hero-section{
    background: url(../../images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 31.25rem;
    position: relative;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6.75rem;
}

.hero-content{
    color: #ffffff;
    max-width: 24rem;
    text-align: center;
}

.hero-content .hero-title{
    font-size: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0.25rem;
}

.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    width: 10.05rem;
    height: 3rem;
    border-radius: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    padding: 0.75rem 1.25rem;
    transition: backgound-color 0.6s, border-color 0.6s;
}

.btn-outline{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0.125rem solid #ffffff;
    /*line-height: 1.5rem;*/
}

.btn-filled{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #6329A2;
    font-weight: 500;
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}