/* hero.css */

.hero {
	position: absolute;
    top: 16px;
    bottom: 16px;
	left: 50%;
	transform: translate(-50%);
	width: calc(100% - 40px);
	border-radius: 16px;
	z-index: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;
	/*background-color: #ffffff;*/
	background-color: lightsteelblue;
}